<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>

<script src="/socket.io/socket.io.js"></script>
</head>
<body> 
    <style>
    
    #container {
  position: relative;
}
#container canvas, #overlay {
  position: absolute;
}
 #powers {
  position: absolute;
  position: absolute;
margin-left: auto;
margin-right: auto;
left: 0;
right: 0;
text-align: center;
 

}

#myCanvas {
            /* background-image: url('/assets/images/6.png')  */
            background-color: grey;
            
            }
  </style>
  <div id="container">
    <canvas id="myCanvas"></canvas>
    <div id="overlay">
        <span id="id">Id: 0</span> - 
        <span id="kills">Kills: 0</span>
        <span id="points">Points: 0</span>
        <span id="coords">Coords: 0</span>
        <ul id="snakeboard"></ul>
    </div>
    <div id="powers"></div>
  </div>
  <br/>



<script>

      var canvas = document.getElementById('myCanvas');

      var context = canvas.getContext('2d');
      var canvas_width_center = (canvas.width/2);
    var canvas_height_center = (canvas.height/2);
      function resize(){    
       
        
        canvas.width = $(window).width();
      canvas.height = $(window).height();
       canvas_width_center = (canvas.width/2);
     canvas_height_center = (canvas.height/2);
    }
  
   


     

  $(document).ready(function(){
    resize();
    $(window).on("resize", function(){       
      //  window.location.reload();               
        resize();
    });
  });
  
      function clearCanvas(){
           context.clearRect(0, 0, canvas.width, canvas.height);
//            var img1=new Image();
// img1.src="/assets/images/6.png";
// context.drawImage(img1,  0, 0,canvas.width, canvas.height);
      }
      
      function drawcircle(x,y,s){
          //clearCanvas();
          context.beginPath();
          context.arc(x,y, s, 0, 2 * Math.PI, false);
          context.fillStyle = 'green';
          context.fill();
          context.lineWidth = 0;
          context.strokeStyle = '#003300';
          context.stroke();
      }
function draw(path,dx,dy){
  var img=new Image();
img.src= path
return context.drawImage(img, dx, dy, 30, 30)
}
      function drawCircles(render){
        const pi2 = Math.PI * 2;
        var x = 0;
        var y = 0;

        for( var i=0; i < render.length; i++ ){
 //         context.fillStyle = render[i].color
      render[i].image ? draw(render[i].image,render[i].xs,render[i].ys) : context.fillStyle = render[i].color
    
        context.beginPath();


            x = render[i].xs;
            y = render[i].ys;

            
            if(render[i].type != 'item'){
              context.moveTo( x, y );
              context.arc( x, y, render[i].ss, 0, pi2,false);
            }
            context.stroke();
        context.fill();
      }
    
    }
      
      var myid = null;
      var iosocket = io.connect(document.location.href);
   

      function render(state){
            clearCanvas();
     


            var snakes = state[0];
            var item = state[1];
            var thisSnake = snakes[myid];
            var zoom = thisSnake.size/10;
            var centerX = thisSnake.circles[thisSnake.circles.length-1][0];
            var centerY = thisSnake.circles[thisSnake.circles.length-1][1];
            var dX = 0;
            var dY = 0;
            var border_left = centerX-canvas_width_center*zoom;
            var border_right = centerX+canvas_width_center*zoom;
            var border_top = centerY-canvas_height_center*zoom;
            var border_bottom = centerY+canvas_height_center*zoom;
            var render = []
 
            
            //render snakes
            for(var s = 0; s < snakes.length; s++){
                if(snakes[s]){
                    var snake = snakes[s]
                    
                    

                    for(var i = 0; i < snake.circles.length; i++){
                        var xs,ys,ss;
                        dX = centerX - snake.circles[i][0];
                        dY = centerY - snake.circles[i][1];
                        //drawcircle(canvas_width_center + (1/zoom)*dX, canvas_height_center + (1/zoom)*dY, (1/zoom)*snake.size);
                       // color.push(snake.color)
                       xs = canvas_width_center + (1/zoom)*dX
                       ys = canvas_height_center + (1/zoom)*dY
                       ss = (1/zoom)*snake.size
                   render.push({type:'snake',color:snake.color,xs,ys,ss})
                  // console.log(render)
                    }
                }
              
            }
            
            //render food
            for(var f = 0; f < item.length; f++){
                //only render visible food
               // color = 'red'
              //console.log(item[f])
                if(item[f].x > border_left && item[f].x < border_right && item[f].y > border_top && item[f].y< border_bottom){
                    var xs,ys,ss
                    dX = centerX - item[f].x;
                    dY = centerY - item[f].y;
                    //drawcircle(canvas_width_center + (1/zoom)*dX, canvas_height_center + (1/zoom)*dY, (1/zoom)*item[f][2]);
                    //object.push(item)
                   // color.push('black')
         
                    xs = canvas_width_center + (1/zoom)*dX
                    ys = canvas_height_center + (1/zoom)*dY
                    ss = (1/zoom)*item[f].size
          if(item[f].type){
              //   return
              item[f].type.image ?   render.push({type:'item',image:item[f].type.image,xs,ys,ss}) : render.push({color:item[f].type.color,xs,ys,ss})
          }
            //       render.push({type:'item',color:'black',xs,ys,ss})
                }
            }
         
           
            drawCircles(render);
       
        }

       //get input from server
      iosocket.on('connect', function () {
           
        //get id
        iosocket.on('id', function(message) {
            console.log("asd" + message);
            $("#id").text("Id: " + message);
            myid = message;
        });
        
        //get new state
        iosocket.on('state', function(message) {
            var o = message;
            var snakes = o[0];
            if(snakes[myid] == null){
                window.location.reload();
            }
           
            updateScoreboard(snakes)
            render(o);
        });
            function updateScoreboard(snakes){
           
           
               var scores = ''
               var powers = ''

               $( "#kills" ).text(`Kills:${snakes[myid].kills}`)
                for(var s = 0; s < snakes.length; s++){
                   scores += `<li>${snakes[s].name}-${snakes[s].length}</li><br>`;
                }
                for(var p = 0; p < snakes[myid].powers.length;p++){
                  console.log(snakes[myid].powers[p])
  powers += `<image width="30px" height="30px" src="${snakes[myid].powers[p].image}"></image><br>Tempo:${snakes[myid].powers[p].time}`
                }
             
              $("#powers").html(powers)
                $( "#snakeboard" ).html(scores)
            }
        //disc
        iosocket.on('disconnect', function() {
            console.log("disc");
        });
      });

      //Send new angle to server
      canvas.addEventListener('mousemove', function(e) {
        a = Math.atan2(e.clientY-(canvas.height/2),e.clientX-(canvas.width/2));
        iosocket.emit('angle', a);
	//	console.log('angle',a)
      }, false);
      
      //send "go fast" to server
      canvas.addEventListener('mousedown', function(e) {
      
       iosocket.emit('mouse', 'down');
      }, false);
      
      //send "stop go fast" to server
      canvas.addEventListener('mouseup', function(e) {
        iosocket.emit('mouse', 'up');
      }, false);
      
     

</script>

</body>
</html>
