<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Multiplayer Snake</title>
		<link rel="stylesheet" href="/assets/style.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
		<script src="/socket.io/socket.io.js"></script>
		<script src="/assets/client.js"></script>
	</head>
	
	<body style="background-color: black;">
		<h1>Mutliplayer Snake</h1>		
		<div id="scoreboard">
			<span id="id">Id: 0</span> - 
			<span id="kills">Kills: 0</span> - 
			<span id="deaths">Deaths: 0</span>
			<span id="points">Points: 0</span>
		</div><br/>
		
		<canvas id="stage" width="500" height="500">
			Canvas not supported.
		</canvas>
	</body>
</html>